#header {
    padding: 1px;
    background: #99CCFF;
    height: 1px;
}

#header p { float: left }

#header ul {
    float: right; margin-right: 32px; 
}

#header ul li {
    float: left;
    margin-right: 0px;
    
}

#main { clear: both }

#main #left-sidebar { float: left; margin-right: 22px; }
#main #left-sidebar li {  }
#main #left-sidebar form {margin-left: 100px; }

#main #content { margin-top: 20px; float: left }

#main #right-sidebar { float: right; margin-right: 300px; }

#footer { clear: both; text-align: center }

.sections a { color: orange }

.important { color: red }

.newLine{clear: both;}
